<div class="container">
    <!-- <h2> Course Name: {{ coursename |lowercase }}</h2>
    <h2> Date Today: {{ dates| date:'shortTime'}}</h2>
    <p (click)="changename()">Click here to change</p>
   <h2> {{ purchaseDate | date:'fullDate' | lowercase}}</h2>

    {{product |json}}

    <div class="form-group">
        <label>Enter book name to search</label>
        <input type="text" [(ngModel)]="book">
        </div>

<p>you are searching for: {{book}}</p> -->

<!--{{username.substr(3,4)}}-->


<!--<form #userform="ngForm"  (ngSubmit)="onSubmit(userform)">

<div class="form-group">
<label>UserName</label>
<input type="text" ngModel  name="username"  required>
</div>

<div class="form-group">
  <label>Password</label>
  <input type="password"       ngModel    name="password" required>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success" [disabled]="userform.invalid">Submit</button>
    </div>

</form>-->
<!--<router-outlet></router-outlet>-->

<!-- <table>
    <tr>
      <th>ID</th>
      <th>Name</th>
    </tr>
    <tr *ngFor="let coin of coins">
      <td>{{coin.id}}</td>
      <td>{{coin.name}}</td>
    </tr> 
  </table> -->

<app-dashboard></app-dashboard>
<app-empdetails></app-empdetails>

</div>